html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  direction: rtl;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
  cursor: pointer; /* Ensures the cursor stays as a pointer */
  background: none; /* Removes any background color */
  border: none; /* Removes any border */
  padding: 0; /* Resets padding */
  margin: 0; /* Resets margin */
  font: inherit; /* Inherits the font settings from the parent element */
  line-height: inherit; /* Inherits the line-height */
  text-align: inherit; /* Inherits the text alignment */
  text-transform: none; /* Ensures no text transformation */
}
::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toolbarClassName {
  direction: ltr !important;
}

.rdw-dropdown-selectedtext {
  span {
    width: 100%;
    text-align: left;
  }
}

.DraftEditor-root {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}

.rdw-editor-main {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}

/* Optional: Ensure toolbar and dropdowns also use the font */

.rdw-dropdown-optionwrapper .rdw-dropdownoption-active {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}

.DraftEditor-root {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}

.rdw-editor-main {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}

/* Optional: Ensure toolbar and dropdowns also use the font */

.rdw-dropdown-optionwrapper .rdw-dropdownoption-active {
  font-family: var(--yekan-font) !important;
  font-weight: 600;
}
